name: Build Check

on:
  push:
    branches: [ main, master, dev ]
    paths-ignore:
      - '**.md'
      - '.gitignore'
      - 'LICENSE'
      - 'brand/**'
  pull_request:
    branches: [ main, master, dev ]
    paths-ignore:
      - '**.md'
      - '.gitignore'
      - 'LICENSE'
      - 'brand/**'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      
      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v2
      
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'gradle'
      
      - name: Grant Execute Permission for Gradlew
        run: chmod +x gradlew
      
      - name: Build with Gradle
        run: ./gradlew build --no-daemon
      
      - name: Upload Build Artifacts
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: SyncBoost-Build
          path: build/libs/*.jar
          retention-days: 7
